body {
    background: #D9D9D9;
    margin : 0;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}
.wrapper {
    padding: 0 10%;
    position: relative;
}

.wrapper nav.nav {
    height : 105px;
    padding-top: 68px;
}

.wrapper nav.nav .return_main {
    width: 120px;
    height: 16px;
}

.wrapper nav.nav .return_main img {
    display: block;
    width: 105px;
}

.wrapper .select_tab {
    position: absolute;
    top: 68px;
    right: 10%;
    border: none;
}

.wrapper .select_tab li {
    margin: 0 0 0 50px;
}

.wrapper .select_tab li a {
    padding: 0;
    font-family: HelveticaNeueLTStd-UltLt;
    font-size : 12px;
    color: rgba(0, 0, 0, 0.5);
    outline: none;
    border: none;
    background-color: transparent;
}

.wrapper .select_tab li.active a:hover {
    border: none;
}

.wrapper .select_tab li.active a,
.wrapper .select_tab li a:hover {
    font-family: Times-bold-italic;
    font-size: 12px;
    color: rgba(0, 0, 0, 1);
    border: none;
    background-color: transparent;
}


.wrapper .tab-content #all .all_items {
    padding-left: 0;
}



.wrapper .tab-content #all .item{
    width: 100%;
    padding-top: 100%; /* 1:1 Aspect Ratio */
    position: relative;
    margin-bottom: 3rem;
}

.wrapper .tab-content #all .item1 {
    background: url(../../6_static/6_3_project/6_3_0_project_front/AntHouse_web1.png) center no-repeat;
    background-size: cover;
}

.wrapper .tab-content #all .item2 {
    background: url(../../6_static/6_3_project/6_3_0_project_front/Research1.png) center no-repeat;
    background-size: cover;
}

.wrapper .tab-content #all .item3 {
    background: url(../../6_static/6_3_project/6_3_0_project_front/Data_visualizetion1.png) center no-repeat;
    background-size: cover;
}

.wrapper .tab-content #all .item4 {
    background: url(../../6_static/6_3_project/6_3_0_project_front/CIARO1.png) center no-repeat;
    background-size: cover;
}

.wrapper .tab-content #all .item5 {
    background: url(../../6_static/6_3_project/6_3_0_project_front/DCLOCK1.png) center no-repeat;
    background-size: cover;
}

.wrapper .tab-content #all .item6 {
    background: url(../../6_static/6_3_project/6_3_0_project_front/Breezi1.png) center no-repeat;
    background-size: cover;
}

.wrapper .tab-content #all .item7 {
    background: url(../../6_static/6_3_project/6_3_0_project_front/Midas_branding1.png) center no-repeat;
    background-size: cover;
}

.wrapper .tab-content #all .item8 {
    background: url(../../6_static/6_3_project/6_3_0_project_front/AntHouse_branding1.png) center no-repeat;
    background-size: cover;
}

.wrapper .tab-content #all .item9 {
    background: url(../../6_static/6_3_project/6_3_0_project_front/ICON1.png) center no-repeat;
    background-size: cover;
}

.wrapper .tab-content #all .item2 {
    background: url(../../6_static/6_3_project/6_3_0_project_front/Research1.png) center no-repeat;
    background-size: cover;
}

.wrapper .tab-content #all .item2 {
    background: url(../../6_static/6_3_project/6_3_0_project_front/Research1.png) center no-repeat;
    background-size: cover;
}


.wrapper .tab-content #all .item .text {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

.wrapper .tab-content #all .item .text a {
    display : block;
    width : 100%;
    height: 100%;
}

.footor {
    display:flex;
    float: right;
    margin: 2rem auto 1rem auto;
    
}

#footer-content{
}

#footer-content img{
}

#port{	
    color: rgba(0,0,0,0.33);	
    font-family: "Times-bold-italic";	
    line-height: 15px;
}
#fin{	
    color: rgba(0,0,0,0.87);	
    font-family: "Times-bold-italic";	
    line-height: 15px;
}
