body {
    background: #D9D9D9;
    margin : 0;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}



.wrapper .tab-content .tab-pane .item{
    width: 100%;
    padding-top: 100%; /* 1:1 Aspect Ratio */
    position: relative;
    margin-bottom: 3rem;
}

.wrapper .tab-content .tab-pane .item .text {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

.wrapper .tab-content .tab-pane .item .text a {
    display : block;
    width : 100%;
    height: 100%;
    position: relative;
}


.wrapper .tab-content .tab-pane .item1 {
    background: url(../../6_static/6_3_project/6_3_0_project_front/AntHouse_web1.png) center no-repeat;
    background-size: cover;
}

.wrapper .tab-content .tab-pane .item2 {
    background: url(../../6_static/6_3_project/6_3_0_project_front/Research1.png) center no-repeat;
    background-size: cover;
}

.wrapper .tab-content .tab-pane .item3 {
    background: url(../../6_static/6_3_project/6_3_0_project_front/Data_visualizetion1.png) center no-repeat;
    background-size: cover;
}

.wrapper .tab-content .tab-pane .item4 {
    background: url(../../6_static/6_3_project/6_3_0_project_front/CIARO1.png) center no-repeat;
    background-size: cover;
}

.wrapper .tab-content .tab-pane .item5 {
    background: url(../../6_static/6_3_project/6_3_0_project_front/DCLOCK1.png) center no-repeat;
    background-size: cover;
}

.wrapper .tab-content .tab-pane .item6 {
    background: url(../../6_static/6_3_project/6_3_0_project_front/Breezi1.png) center no-repeat;
    background-size: cover;
}

.wrapper .tab-content .tab-pane .item7 {
    background: url(../../6_static/6_3_project/6_3_0_project_front/Midas_branding1.png) center no-repeat;
    background-size: cover;
}

.wrapper .tab-content .tab-pane .item8 {
    background: url(../../6_static/6_3_project/6_3_0_project_front/ICON1.png) center no-repeat;
    background-size: cover;
}

/* a.item .figcaption */
.wrapper .tab-content .tab-pane .item .text a:hover {
    background-color: rgba(0, 0, 0, 0.7);
}

.wrapper .tab-content .tab-pane .item .text a .figcaption {
    display: none;
}

.wrapper .tab-content .tab-pane .item .text a:hover .figcaption {
    display: flex;
    width: 80%;
    height: 76%;
    flex-direction: column;
    justify-content: space-between;
    position:absolute;
	top:50%;
	left:50%;
	transform: translate(-50%, -50%);
}

.wrapper .tab-content .tab-pane .item .text a:hover .figcaption * {
    margin: 0;
    color: #ffffff;
}

.wrapper .tab-content .tab-pane .item .text a:hover .figcaption .figcaption_title {
    font-size : 2.5rem;
    font-family: "Times-bold-italic";
    border-bottom: solid 1px #ffffff;
    padding-bottom: 8px;
}

.wrapper .tab-content .tab-pane .item .text a:hover .figcaption p:nth-child(2) {
    font-size : 1.5rem;
    font-family: 'Helvetica-roman';
    line-height: 2;
}

.wrapper .tab-content .tab-pane .item .text a:hover .figcaption p > span {
    font-size : 1.2rem;
    font-family: 'Helvetica-bold-italic';
}
