body {
    background: #D9D9D9;
    font-size : 15px;
    margin : 0;
}

a{
    text-decoration: none;
    list-style-type: none;
    color: rgba(255,255,255,1);
}

.wrapper{
    width: 80%;
    margin-left :10%;
    margin-right : 10%;
}

.wrapper nav.nav {
    padding-top: 68px;
}


.wrapper nav.nav .return_main {
    width: 120px;
    height: 16px;
}

.wrapper nav.nav .return_main img {
    display: block;
    width: 105px;
}


#main-ul{
    height : 70vh;
    list-style-type: none;
    padding-left:0;
}


.main{
    font-size: 5rem;
    font-family: 'Helvetica-ultra-light';
}

#main-ul li a{
    text-decoration: none;
    color : #000;
}

#main-ul li a:hover{
    color: #fff;
}
.footor {
    display:flex;
    float: right;

}

#footer-content{
    margin-top : 1rem;
    margin-bottom : 1rem;
}

#footer-content img{
}

#port{
    color: rgba(0,0,0,0.33);
    font-family: "Times-bold-italic";
    line-height: 15px;
}
#fin{
    color: rgba(0,0,0,0.87);
    font-family: "Times-bold-italic";
    line-height: 15px;
}
