@font-face{
    font-family: 'Helvetica-ultra-light';
    src: url('HelveticaNeueLTStd-UltLt.otf') format("opentype");
}
@font-face{
    font-family: "Times-bold-italic";
    src: url('TimesLTStd-BoldItalic.otf') format("opentype");
}

@font-face{
    font-family: 'Helvetica-bold';
    src: url('HelveticaLTStd-Bd.otf') format("opentype");
}

@font-face{
    font-family: 'Helvetica-roman';
    src: url('HelveticaNeueLTStd-Roman.otf') format("opentype");
}

@font-face{
    font-family: 'Helvetica-bold-italic';
    src: url('HelveticaNeueLTStd-BdIt.otf') format("opentype");
}
